.container {
    width: 1200px;
    text-align: center;
    font-size: 18px;
    line-height: 2.5;
    font-weight: 500;
    margin: 0 auto;
    padding: 5px;
}

h1 {
    font-size: 50px;
    font-weight: 900;
}

h2 {
    font-size: 40px;
    font-weight: 700;
}

h3 {
    font-size: 30px;
    font-weight: 600;
}

#jobLineMoney {
    color: red;
}

/*Здесь начинаеться таблица table-cell*/
.mapper {
    width: 1200px;
    text-align: center;
    line-height: 2.5;
    margin: 0 auto;
    /*Честно не хотел писать padding, но без него так все некрасиво. Плюс padding был в разборе полетов д/з был отступ.*/
    padding: 50px;
}

.line_800 {
    width: 800px;
    display: table-cell;
}

.line_700 {
    width: 700px;
    display: table-cell;
}

.line_500 {
    width: 500px;
    display: table-cell;
}

.line_400 {
    width: 400px;
    display: table-cell;
}

.line_300 {
    width: 300px;
    display: table-cell;
}

.outline_solid {
    outline: 1px solid coral;
    font-size: 25px;
}

/*Здесь начинаеться таблица inline-block*/
/*В принципе можно и в mapper засунуть font-size: 0;, но сказали на лекции что должно его там не быть.*/
.content_block {
    font-size: 0;
}

.line_800_inline_block {
    width: 800px;
    display: inline-block;
}

.line_700_inline_block {
    width: 700px;
    display: inline-block;
}

.line_500_inline_block {
    width: 500px;
    display: inline-block;
}

.line_400_inline_block {
    width: 400px;
    display: inline-block;
    vertical-align: top;
}

.line_300_inline_block {
    width: 300px;
    display: inline-block;
}

.outline_solid_parent {
    outline: 1px solid coral;
    font-size: 0;
}

.font_size_parent {
    font-size: 0;
}

/*Здесь начинаеться таблица float*/

.line_400_float_block {
    width: 400px;
    float: right;
}

.line_800_float_block {
    width: 800px;
    float: right;
}

.line_700_float_block {
    width: 700px;
    float: right;
}

.line_500_float_block {
    width: 500px;
    float: right;
}

.line_300_float_block {
    width: 300px;
    float: right;
}

/*Чем смелее художник, тем полнее краски в жизни это к тому что изменил цвет на морской*/
.outline_solid_float {
    outline: 1px solid aquamarine;
    font-size: 15px;
}

.supporter {
    clear: right;
}

/*Здесь начинаеться таблица float-style*/
/*Захотелось оливок*/
.outline_solid_float_style {
    outline: 1px solid olivedrab;
    font-size: 15px;
}

.clearfix:after {
    content: "";
    clear: right;
    display: block;
}

/*Здесь начинаеться таблица flex*/
/*Захотелось новенького*/
.outline_solid_flex {
    outline: 1px solid indigo;
    font-size: 15px;
}

.line_800_flex_block {
    flex: 0 1 800px;
}

.line_700_flex_block {
    flex: 0 1 700px;
}

.line_500_flex_block {
    flex: 0 1 500px;
}

.line_400_flex_block {
    flex: 0 1 400px;
}

.line_300_flex_block {
    flex: 0 1 300px;
}

.flex_block {
    display: flex;
}

/*Здесь начинаеться grid-style*/
/*Захотелось новенького*/
.grid_parent_3_columns_auto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/*можно было и без fr, но так круче смотрится.*/
.grid_parent_2_columns_2fr_and_1fr {
    display: grid;
    grid-template-columns:2fr 1fr;
}

/*можно было и с auto, но так круче смотрится.*/
.grid_parent_2_columns_700_and_500 {
    display: grid;
    grid-template-columns:700px 500px;
}

/*можно было и с auto, но так круче смотрится.*/
.grid_parent_2_columns_300_and_400 {
    display: grid;
    grid-template-columns:300px 400px;
}

.grid_parent_2_columns_auto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.outline_solid_grid {
    outline: 1px solid violet;
    font-size: 15px;
}

/*Здесь начинаеться grid-area*/
/*Захотелось новенького*/
.sheet {
    width: 1200px;
    text-align: center;
    line-height: 2.5;
    margin: 0 auto;
    /*Честно без padding так все некрасиво.*/
    padding: 50px;
    display: grid;
    grid-template-areas:
    "A A B B C"
    "D D D D E"
    "F F F F G"
    "F F F F H"
    "I I I J J"
    "K L L J J"
    "M M M M N"
    "O O P P N"
    "Q Q P P N";
}

.outline_solid_grid_area {
    outline: 1px solid gold;
    font-size: 15px;
}

.grid_children_a {
    grid-area: A;
}

.grid_children_b {
    grid-area: B;
}

.grid_children_c {
    grid-area: C;
}

.grid_children_d {
    grid-area: D;
}

.grid_children_e {
    grid-area: E;
}

.grid_children_f {
    grid-area: F;
}

.grid_children_g {
    grid-area: G;
}

.grid_children_h {
    grid-area: H;
}

.grid_children_i {
    grid-area: I;
}

.grid_children_j {
    grid-area: J;
}

.grid_children_k {
    grid-area: K;
}

.grid_children_l {
    grid-area: L;
}

.grid_children_m {
    grid-area: M;
}

.grid_children_n {
    grid-area: N;
}

.grid_children_o {
    grid-area: O;
}

.grid_children_p {
    grid-area: P;
}

.grid_children_q {
    grid-area: Q;
}

/*Здесь начинаются таблички в gallery*/
.container_gallery {
    width: 1200px;
    text-align: center;
    font-size: 18px;
    line-height: 2.5;
    font-weight: 500;
    margin: 0 auto;
    padding: 5px;
}

.parent_title_gallery {
    position: relative;
    display: inline-block;
    font-size: 0;
}

.title_photo {
    position: absolute;
    outline: 2px solid cadetblue;
    font-size: 20px;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    background: rgba(117, 190, 218, 0.5);
}

/*//можно и 90deg*/
.title_photo_text {
    background: linear-gradient(to right, blue, aqua);
    -webkit-background-clip: text;
    color: transparent;
}

/*Здесь начинаются табличка в gallery впритул зліва до екрану*/
.table_photo_gallery {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0;
    outline: 2px solid green;
    padding: 10px;
    line-height: 2.5;
    font-weight: 500;
}

/*Спасибо за подсказку. */
.table_photo_gallery > a {
    font-size: 12px;
    outline: 2px solid blue;
    margin-bottom: 10px;
    display: block;
}

/*Задание на побудувати багаторівневе меню згідно схеми, наданої на уроці.*/
.ul_parent_level_1 {
    font-size: 0;
    text-align: center;
    padding: 5px;
}

.list_level_1 {
    display: inline-block;
    font-size: 20px;
    border: 1px solid blue;
    background: gray;
}

.list_level_1_block {
    display: inline-block;
    font-size: 20px;
    border: 1px solid blue;
    background: gray;
    position: relative;
}

.list_level_1_a {
    text-decoration: none;
    color: orange;
    text-transform: uppercase;
    padding: 20px 5px 20px 65px;
    display: block;
    position: relative;
}

.list_level_1_a_arrow_down {
    color: orange;
    text-transform: uppercase;
    padding: 20px 65px 20px 5px;
    display: block;
    position: relative;
}

.list_level_1_a:before {
    content: "";
    width: 60px;
    height: 60px;
    background: url('../images/social_sprites.png') 0 0;
    position: absolute;
    top: 0;
    left: 0;
}

.list_level_1_a_arrow_down:before {
    content: "";
    width: 60px;
    height: 60px;
    background: url('../images/social_sprites.png') 0 -1020px;
    position: absolute;
    top: 0;
    right: 0;
}

/*hover*/
ul :hover .list_level_1_a:before {
    background-position: 0 -60px;
}

ul :hover .list_level_1_a_arrow_down:before {
    background-position: 0 -960px;
}

ul li ul > li:hover .list_level_2_a_float_arrow:before {
    background-position: 0 -840px;
}

ul li ul > li:hover .list_level_2_a_grid_arrow:before {
    background-position: 0 -720px;
}

/*Конец*/
.ul_parent_level_1 li:hover {
    background: green;
}

.ul_parent_level_2 {
    position: absolute;
    font-size: 0;
    text-align: center;
    z-index: 5;
    top: -5000%;
    left: -5000%;
    pointer-events: none;
    transition: all 0.5s cubic-bezier(.5, .01, .03, .69) 0.3s;
}

/*Мне так проще.*/
ul li:hover .ul_parent_level_2 {
    top: 100%;
    left: 0;
    background: yellow;
    pointer-events: all;
}

.list_level_2 {
    font-size: 20px;
    border: 1px solid blue;
}

.list_level_2_float_or_grid {
    font-size: 20px;
    position: relative;
    border: 1px solid blue;
}

.list_level_2_a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding: 30px 38px;
    display: block;
}

.list_level_2_a_float_arrow {
    color: black;
    text-transform: uppercase;
    padding: 20px 65px 19px 5px;
    display: inline-block;
    position: relative;
}

.list_level_2_a_grid_arrow {
    color: black;
    text-transform: uppercase;
    padding: 20px 5px 19px 65px;
    display: block;
    position: relative;
}

.list_level_2_a_float_arrow:before {
    content: "";
    width: 60px;
    height: 60px;
    background: url('../images/social_sprites.png') 0 -900px;
    position: absolute;
    top: 0;
    right: 0;
}

.list_level_2_a_grid_arrow:before {
    content: "";
    width: 60px;
    height: 60px;
    background: url('../images/social_sprites.png') 0 -780px;
    position: absolute;
    top: 0;
    left: 0;
}

.ul_parent_level_3_float {
    position: absolute;
    left: 100%;
    top: -3%;
    font-size: 0;
    text-align: center;
    width: 0;
    overflow: hidden;
    background: aqua;
    transition: all 1.5s cubic-bezier(0, 1.45, 0, 1.7);
}

.ul_parent_level_3_grid {
    position: absolute;
    right: 100%;
    top: -158%;
    font-size: 0;
    text-align: left;
    width: 0;
    overflow: hidden;
    background: aqua;
    transition: all 1.5s cubic-bezier(0, 1.45, 0, 1.7);
}

.list_level_3 {
    font-size: 20px;
    border: 1px solid blue;
}

.list_level_3_a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 35px 65px 19px 5px;
    display: block;
    position: relative;
}

.list_level_2_float_or_grid:hover .ul_parent_level_3_grid {
    background: tomato;
    overflow: visible;
    width: 100%;
}

.list_level_2_float_or_grid:hover .ul_parent_level_3_float {
    background: palevioletred;
    overflow: visible;
    width: 100%;
}

/*Спрайты внизу*/
.social_sprites {
    font-size: 0;
    text-align: right;
    background: lime;
    display: inline-block;
}

.social_sprites li {
    display: inline-block;
    font-size: 24px;
}

.social_sprites li a {
    background: url('../images/social_sprites.png') 0 -120px;
    width: 60px;
    height: 60px;
    display: block;
}

.social_sprites li + li a {
    background-position: 0 -540px;
}

.social_sprites li + li + li a {
    background-position: 0 -360px;
}

.social_sprites li + li + li + li a {
    background-position: 0 -660px;
}

.social_sprites li + li + li + li + li a {
    background-position: 0 -240px;
}

/*hover*/
.social_sprites li:hover a {
    background-position: 0 -180px;
}

.social_sprites li + li:hover a {
    background-position: 0 -480px;
}

.social_sprites li + li + li:hover a {
    background-position: 0 -420px;
}

.social_sprites li + li + li + li:hover a {
    background-position: 0 -600px;
}

.social_sprites li + li + li + li + li:hover a {
    background-position: 0 -300px;
}

/*New DZ table*/
.new_table_div {
    display: inline-block;
    line-height: 2.5;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    background: coral;
    position: fixed;
    top: 50%;
    right: -175px;
    padding: 50px 27px 50px 90px;
    animation: mymove 3s;
    animation-iteration-count: 1;
    transform: translateY(-50%);
    transition: all 1s ease;
}

.new_table_text {
    transform: translateY(-50%) rotate(270deg);
    position: absolute;
    top: 50%;
    left: -60px;
}

.new_table_div:hover {
    right: 0;
    transition: all 2s cubic-bezier(0, 1.41, 0, 1.37);
}

@keyframes mymove {
    from {
        top: 50%;
    }
    to {
        top: 70%;
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
}

.div_social_sprites_new {
    text-align: center;
    background: linear-gradient(blue, aqua);
    transform: rotate(45deg);
}

.flex_block_2 {
    display: flex;
}

.flex_block div {
    font-size: 24px;
    overflow: hidden;
}

.flex_block_2 div {
    display: flex;
    overflow: hidden;
}

.flex_block div a {
    background: url('../images/social_sprites.png') 0 -120px;
    width: 60px;
    height: 60px;
    display: block;
    transform: rotate(45deg);
    overflow: hidden;
}

.flex_block div a:before {
    content: "";
    width: 60px;
    height: 60px;
    background: url('../images/social_sprites.png') 0 -120px;
    position: absolute;
    transform: rotate(-90deg);
    top: 0;
    left: 0;
}

.flex_block div + div a {
    background-position: 0 -540px;
    transform: rotate(45deg);
}

.flex_block div + div a:before {
    content: "";
    width: 60px;
    height: 60px;
    background: url('../images/social_sprites.png') 0 -540px;
    position: absolute;
    transform: rotate(-90deg);
    top: 0;
    left: 0;
}

.flex_block_2 div a {
    background: url('../images/social_sprites.png') 0 -360px;
    width: 60px;
    height: 60px;
    display: block;
    transform: rotate(45deg);
    overflow: hidden;
}

.flex_block_2 div a:before {
    content: "";
    width: 60px;
    height: 60px;
    background: url('../images/social_sprites.png') 0 -360px;
    position: absolute;
    transform: rotate(-90deg);
    top: 0;
    left: 0;
}

.flex_block_2 div + div a {
    background-position: 0 -660px;
    transform: rotate(45deg);
}

.flex_block_2 div + div a:before {
    content: "";
    width: 60px;
    height: 60px;
    background: url('../images/social_sprites.png') 0 -660px;
    position: absolute;
    transform: rotate(-90deg);
    top: 0;
    left: 0;
}

.flex_block a:hover:before {
    background-position: 0 -180px;
}

.flex_block div + div a:hover:before {
    background-position: 0 -480px;
}

.flex_block_2 a:hover:before {
    background-position: 0 -420px;
}

.flex_block_2 div + div a:hover:before {
    background-position: 0 -600px;
}

/*DZ 15*/
body {
    background: white;
    position: relative;
    height: 100%;
    width: 100%;
}

body:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    min-height: 55vh;
    min-width: 55%;
    /*background: radial-gradient(farthest-corner at 0 0, lime 67%, rgba(255, 0, 255, 0.5) 67%);*/
    z-index: -5;
}

body:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    min-height: 55vh;
    min-width: 55%;
    /*background: radial-gradient(farthest-corner at 100% 0, lime 68%, rgba(139, 0, 139, 0.5) 68%);*/
    z-index: -5;
}

/*DZ 16*/
.container_bolt {
    width: 1200px;
    height: 3000px;
    text-align: center;
    font-size: 18px;
    line-height: 2.5;
    font-weight: 500;
    margin: 0 auto;
    padding: 50px 0;
    background: red;
}

.bolt {
    height: 50px;
    width: 200px;
    border: 2px solid rgb(47, 79, 79);
    position: relative;
    background: repeating-linear-gradient(133deg, rgb(47, 79, 79), rgb(47, 79, 79) 15%, brown 19%);
    display: inline-block;
}

.bolt:after {
    content: "";
    border: 2px solid rgb(47, 79, 79);
    height: 60px;
    left: -30%;
    top: 60%;
    display: block;
    width: 60px;
    position: absolute;
    border-bottom-left-radius: 90%;
    background: rgb(47, 79, 79);
}

.bolt:before {
    content: "";
    border: 2px solid rgb(47, 79, 79);
    height: 60px;
    left: -30%;
    top: -80%;
    display: block;
    width: 60px;
    position: absolute;
    border-top-left-radius: 90%;
    background: rgb(47, 79, 79);
}

/*Шайба*/
.detail {
    display: inline-block;
    position: relative;
    width: 400px;
    height: 200px;
    font-size: 0;
}

.screw_triangle_1 {
    border-top: 50px solid transparent;
    border-right: 30px solid rgb(47, 79, 79);
    border-bottom: 50px solid transparent;
    display: inline-block;
}

.rectangle {
    width: 66px;
    height: 96px;
    display: inline-block;
    border-top: 2px solid rgb(47, 79, 79);
    border-bottom: 2px solid rgb(47, 79, 79);
    position: relative;
}

.rectangle_small {
    background: rgb(47, 79, 79);
    position: absolute;
    top: -0.2%;
    left: 41.8%;
    width: 66px;
    height: 28px;
}

.rectangle_small_2 {
    background: rgb(47, 79, 79);
    position: absolute;
    top: 35.9%;
    left: 41.8%;
    width: 66px;
    height: 28px;
}

.rectangle_small:before {
    width: 100px;
    height: 100px;
    margin: -20px 0 20px 0;
    border-radius: 50%;
    box-shadow: 15px 15px 0 0 rgb(47 79 79);
    content: "";
    top: 138%;
    left: 6%;
    bottom: 50%;
    position: absolute;
    transform: rotate(173deg);
}

.rectangle_small:after {
    width: 100px;
    height: 100px;
    margin: -20px 0 20px 0;
    border-radius: 50%;
    box-shadow: 15px 15px 0 0 rgb(47 79 79);
    content: "";
    top: 10%;
    left: -59%;
    bottom: 50%;
    position: absolute;
    transform: rotate(354deg);
}

.rectangle_small_2:before {
    width: 50px;
    height: 50px;
    margin: -20px 0 20px 0;
    border-radius: 50%;
    box-shadow: 15px 15px 0 0 rgb(47 79 79);
    content: "";
    top: -107%;
    left: 11.8%;
    bottom: 50%;
    position: absolute;
    transform: rotate(83deg);
}

.rectangle_small_2:after {
    width: 50px;
    height: 50px;
    margin: -20px 0 20px 0;
    border-radius: 50%;
    box-shadow: 2px 15px 0 0 rgb(47 79 79);
    content: "";
    top: -90%;
    left: 10%;
    bottom: 50%;
    position: absolute;
    transform: rotate(257deg);
}

.rectangle:before {
    content: "";
    top: 25%;
    left: 12%;
    bottom: 50%;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border-top: 3px solid rgb(47 79 79);
    border-left: 3px solid rgb(47 79 79);
    position: absolute;
    z-index: 5;
}

.rectangle:after {
    content: "";
    top: 25%;
    left: 14%;
    bottom: 50%;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border-top: 3px solid rgb(47 79 79);
    border-left: 3px solid rgb(47 79 79);
    transform: rotate(175deg);
    position: absolute;
    z-index: 5;
}

.screw_triangle_2 {
    border-top: 50px solid transparent;
    border-left: 30px solid rgb(47, 79, 79);
    border-bottom: 50px solid transparent;
    display: inline-block;
}

/*Фигура 3 ключ*/
.key {
    display: inline-flex;
    position: relative;
    width: 600px;
    height: 600px;
    font-size: 0;
    transform: rotate(45deg);
    justify-items: center;
    align-items: center;
    overflow: hidden;
}

.rectangle_key {
    width: 500px;
    height: 80px;
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
    border-right: 2px solid blue;
    position: relative;
}

.rectangle_big {
    position: absolute;
    left: 46.5%;
    width: 257px;
    height: 80px;
    background: rgb(47, 79, 79)
}

.rectangle_big_small {
    background: rgb(47, 79, 79);
    position: absolute;
    left: 92%;
    width: 81px;
    height: 26px;
    transform: rotate(90deg);
}

.rectangle_key:before, .rectangle_key2:before {
    content: "";
    top: 18%;
    left: 80%;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border-top: 3px solid rgb(47, 79, 79);
    border-left: 3px solid rgb(47, 79, 79);
    position: absolute;
    z-index: 5;
}

.rectangle_key:after, .rectangle_key2:after {
    content: "";
    top: 18%;
    left: 80%;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border-top: 3px solid rgb(47, 79, 79);
    border-left: 3px solid rgb(47, 79, 79);
    transform: rotate(175deg);
    position: absolute;
    z-index: 5;
}

.rectangle_big:before {
    content: "";
    top: 50%;
    left: 107%;
    height: 60px;
    width: 20px;
    position: absolute;
    transform: rotate(90deg);
    background: rgb(47, 79, 79);
}

.rectangle_big_small:after {
    border-top: 15px solid rgb(47, 79, 79);
    border-right: 15px solid transparent;
    content: "";
    top: 95%;
    left: 59%;
    position: absolute;
    transform: rotate(89deg);
}

.rectangle_big_small:before {
    border-top: 15px solid rgb(47, 79, 79);
    border-right: 15px solid transparent;
    content: "";
    top: 95%;
    left: 19%;
    position: absolute;
    transform: rotate(359deg);
}

.rectangle_big:after {
    content: "";
    top: -28%;
    left: 107%;
    height: 60px;
    width: 16px;
    position: absolute;
    transform: rotate(90deg);
    background: rgb(47, 79, 79);
}

.triangle {
    border-top: 18px solid rgb(47, 79, 79);
    border-right: 20px solid transparent;
    top: 45.51%;
    left: 89%;
    position: absolute;
    transform: rotate(0deg);
}

.triangle:after {
    border-top: 15px solid rgb(47, 79, 79);
    border-right: 15px solid transparent;
    content: "";
    top: 16px;
    left: 1px;
    position: absolute;
    transform: rotate(273deg);
}

.circle {
    width: 259px;
    height: 170px;
    border-radius: 50%;
    position: relative;
    transform: rotate(90deg);
    border-top: 10px solid rgb(47, 79, 79);
    border-bottom: 2px solid transparent;
    border-left: 2px solid blue;
    border-right: 2px solid blue;
    align-self: center;
    overflow: hidden;
    padding: 57px 54px;
}

.circle:before {
    content: "";
    position: absolute;
    top: 15%;
    left: 23px;
    width: 200px;
    height: 280px;
    border-radius: 45%;
    border-left: 14px solid rgb(47, 79, 79);
    border-top: 12px solid rgb(47, 79, 79);
    border-right: 14px solid rgb(47, 79, 79);
}

/*Или 2 вариант*/

.rectangle_key2 {
    width: 630px;
    height: 80px;
    position: relative;
    overflow: hidden;
}

.rectangle_big {
    position: absolute;
    left: 46.5%;
    width: 257px;
    height: 80px;
    background: rgb(47, 79, 79)
}

.rectangle_big_small {
    background: rgb(47, 79, 79);
    position: absolute;
    left: 92%;
    width: 81px;
    height: 26px;
    transform: rotate(90deg);
}

.circle2 {
    width: 269px;
    height: 260px;
    border-radius: 45%;
    position: relative;
    transform: rotate(90deg);
    border-top: 50px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 1px solid transparent;
    border-right: 10px solid transparent;
    align-self: center;
    overflow: hidden;
    padding: 20px 60px;
}

.circle2:before {
    content: "";
    position: absolute;
    top: 8%;
    left: -10px;
    width: 200px;
    height: 200px;
    border-radius: 45%;
    border-left: 48px solid rgb(47, 79, 79);
    border-top: 70px solid rgb(47, 79, 79);
    border-right: 45px solid rgb(47, 79, 79);
    border-bottom: 180px solid transparent;
}

/*Слоник*/
.elephant {
    font-size: 0;
    position: relative;
}

.cap {
    display: inline-block;
    border-left: 40px solid transparent;
    border-bottom: 90px solid magenta;
    border-right: 40px solid transparent;
    position: relative;
    top: -268px;
    left: 5.2%;
    transform: rotate(346deg);
}

.cap_circle {
    min-height: 2px;
    min-width: 2px;
    background: white;
    position: relative;
    border-radius: 50%;
    top: 30px;
    left: 9px;
}

.cap_circle:before {
    content: "";
    min-height: 2px;
    min-width: 2px;
    background: white;
    position: absolute;
    top: 1400%;
    left: -1600%;
    border-radius: 50%;
}

.cap_circle:after {
    content: "";
    min-height: 2px;
    min-width: 2px;
    background: white;
    position: absolute;
    top: 2400%;
    left: -2000%;
    border-radius: 50%;
}

.cap_circle2 {
    min-height: 2px;
    min-width: 2px;
    background: white;
    position: relative;
    top: 10px;
    left: -3px;
    border-radius: 50%;
}

.cap_circle2:before {
    content: "";
    min-height: 2px;
    min-width: 2px;
    background: white;
    position: absolute;
    top: 2900%;
    left: 1200%;
    border-radius: 50%;
}

.cap_circle2:after {
    content: "";
    min-height: 2px;
    min-width: 2px;
    background: whitesmoke;
    position: absolute;
    top: 3000%;
    left: 100%;
    border-radius: 50%;
}

.rectangle_tail {
    width: 20px;
    height: 50px;
    background: grey;
    display: inline-block;
    transform: rotate(130deg);
    border-top-right-radius: 40%;
    border-top-left-radius: 40%;
    position: relative;
    left: -33%;
    top: -30px;
}

.legs {
    width: 50px;
    height: 50px;
    background: grey;
    display: inline-block;
    border-radius: 25%;
    margin: 0 5px 0 0;
    position: relative;
    top: 26px;
    left: -37%;
}

.trunk {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: grey;
    display: inline-block;
    position: relative;
}

.head {
    width: 250px;
    height: 300px;
    border-radius: 50%;
    /*background: grey;*/
    display: inline-block;
    position: relative;
    top: 14px;
    left: -29%;
    transform: rotate(32deg);
    border: 3px solid gray;
    z-index: 5;
}

.eye {
    background: white;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: -200px;
    left: -43%;
    z-index: 10;
}

.eye:after {
    content: "";
    min-height: 10px;
    min-width: 10px;
    background: black;
    position: absolute;
    top: 2px;
    left: 8%;
    border-radius: 50%;
    z-index: 10;
}

.ear {
    min-height: 130px;
    min-width: 100px;
    background: pink;
    position: absolute;
    border-radius: 50%;
    transform: rotate(45deg);
    top: 20%;
    left: 27%;
    z-index: 5;
}

.rectangle_new {
    width: 40px;
    height: 80px;
    background: gray;
    position: absolute;
    top: 70%;
    left: 19%;
    transform: rotate(325deg);
    border-radius: 50% 30% 0 30%/ 40px 40px 40px 40px;
}

.rectangle_new_big {
    position: absolute;
    top: 35%;
    left: 14%;
    width: 200px;
    height: 100px;
    border-radius: 10% 10% 99% 99%;
    background: gray;
    transform: rotate(106deg);
}

.rectangle_new_big_small {
    position: absolute;
    top: 9%;
    left: 21%;
    width: 160px;
    height: 90px;
    border-radius: 10% 10% 96% 99%;
    background: gray;
    transform: rotate(157deg);
}

.rectangle_new:before {
    left: 130%;
    width: 40px;
    height: 40px;
    border-radius: 60%;
    border-top: 7px solid gray;
    border-left: 7px solid gray;
    position: absolute;
    z-index: 15;
    content: "";
    top: 70%;
}

.rectangle_new:after {
    top: 70%;
    left: 130%;
    width: 40px;
    height: 40px;
    border-radius: 60%;
    border-top: 7px solid gray;
    border-left: 7px solid gray;
    position: absolute;
    z-index: 15;
    content: "";
    transform: rotate(175deg);
}

.rectangle_new_big:before {
    content: "";
    top: -32%;
    left: 45%;
    height: 60px;
    width: 70px;
    position: absolute;
    transform: rotate(1deg);
    background: gray;
}

.rectangle_new_big_small:after {
    position: absolute;
    top: 54%;
    left: 0;
    width: 10px;
    height: 20px;
    border-radius: 10% 10% 99% 99%;
    background: gray;
    transform: rotate(127deg);
    content: "";
}

.rectangle_new_big_small:before {
    border-top: 30px solid gray;
    border-right: 30px solid transparent;
    content: "";
    top: 20%;
    left: -26%;
    position: absolute;
    transform: rotate(234deg);
    width: 40px;
    border-radius: 50% 70% 50% 90% / 60px 10px 0 0;
}

.rectangle_new_big:after {
    content: "";
    top: -9%;
    left: 69%;
    border-top: 22px solid gray;
    border-right: 50px solid transparent;
    position: absolute;
    transform: rotate(40deg);
    width: 0;
    height: 0;
}

.triangle_new {
    width: 30px;
    height: 80px;
    top: 83%;
    left: 28%;
    position: absolute;
    transform: rotate(85deg);
    background: gray;
    border-radius: 90% 60% 20% 20%/80px 100px 0 20px;
}

.triangle_new:after {
    top: 100%;
    left: -40%;
    content: "";
    background: gray;
    width: 40px;
    height: 40px;
    position: absolute;
    transform: rotate(342deg);
    border-radius: 30% 20% 90% 10%;
}

.triangle_new:before {
    border-top: 66px solid gray;
    border-right: 60px solid transparent;
    content: "";
    top: 31%;
    left: -132%;
    position: absolute;
    transform: rotate(73deg);
}

.dug {
    top: 80%;
    left: 21%;
    width: 40px;
    height: 44px;
    border-radius: 50%;
    border-left: 44px solid gray;
    position: absolute;
    transform: rotate(313deg);
}

.dug:after {
    top: 91%;
    left: -48%;
    width: 30px;
    height: 35px;
    background: gray;
    position: absolute;
    transform: rotate(53deg);
    content: "";
}

.dug:before {
    top: 26%;
    left: -18%;
    width: 16px;
    height: 12px;
    background: gray;
    position: absolute;
    transform: rotate(296deg);
    content: "";
}

.dug_2 {
    top: 88%;
    left: 27%;
    width: 16px;
    height: 12px;
    background: gray;
    position: absolute;
    transform: rotate(324deg);
}

.dug_2:before {
    top: -408%;
    left: -110%;
    width: 16px;
    height: 12px;
    background: gray;
    position: absolute;
    transform: rotate(324deg);
    content: "";
}

/*/Monster /*/
.monster {
    font-size: 0;
    position: relative;
    margin-top: 200px;
}

.ear_monster_right {
    min-height: 13px;
    min-width: 13px;
    background: grey;
    position: absolute;
    left: 798px;
}

.ear_monster_right:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-right: 7px solid transparent;
    border-top: 7px solid white;

}

.ear_monster_left {
    min-height: 13px;
    min-width: 13px;
    background: grey;
    position: absolute;
    left: 692px;
}

.ear_monster_left:before {
    content: "";
    position: absolute;
    top: 0;
    left: 7px;
    border-left: 7px solid transparent;
    border-top: 7px solid white;
}

.head_monster {
    height: 300px;
    width: 300px;
    background: greenyellow;
    position: relative;
    border-radius: 50%;
    left: 50%;
}

.hand_left {
    height: 200px;
    width: 40px;
    background: greenyellow;
    position: absolute;
    top: 10px;
    left: 44%;
    transform: rotate(310deg);
}

.hand_left:before {
    content: "";
    background: greenyellow;
    position: absolute;
    top: -20px;
    left: 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.hand_right {
    height: 200px;
    width: 40px;
    background: greenyellow;
    position: absolute;
    top: 10px;
    left: 77%;
    transform: rotate(49deg);
}

.hand_right:before {
    content: "";
    background: greenyellow;
    position: absolute;
    top: -20px;
    left: 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.eye_monster {
    height: 180px;
    width: 180px;
    background: white;
    position: absolute;
    border-radius: 50%;
    left: 55%;
    top: 20%;
}

.eye_monster:before {
    content: "";
    background: teal;
    position: absolute;
    top: 20px;
    left: 20px;
    height: 140px;
    width: 140px;
    border-radius: 50%;
}

.eye_monster:after {
    content: "";
    width: 28px;
    height: 28px;
    position: absolute;
    top: 34px;
    left: 133px;
    background: linear-gradient(white 50%, white 50%);
}

.mouth {
    height: 60px;
    width: 60px;
    position: absolute;
    background: linear-gradient(transparent 50%, pink 50%);
    border-radius: 50%;
    left: 60%;
    top: 77%;
    z-index: 5;
}

.legs_monster {
    height: 200px;
    width: 40px;
    background: greenyellow;
    position: absolute;
    top: 250px;
    left: 64%;
}

.legs_monster_left {
    height: 200px;
    width: 40px;
    background: greenyellow;
    position: absolute;
    top: 250px;
    left: 58%;
}

.heels {
    height: 40px;
    width: 60px;
    background: greenyellow;
    border-radius: 35%;
    position: absolute;
    top: 420px;
    left: 63.3%;
}

.heels_left {
    height: 40px;
    width: 60px;
    background: greenyellow;
    border-radius: 35%;
    position: absolute;
    top: 420px;
    left: 57.2%;
}

.nails {
    height: 7px;
    width: 7px;
    background: white;
    border-radius: 25%;
    position: absolute;
    top: 450px;
    left: 58.2%;
}

.nails:after {
    content: "";
    height: 7px;
    width: 7px;
    background: white;
    border-radius: 25%;
    position: absolute;
    top: 0;
    left: 250%;
}

.nails:before {
    content: "";
    height: 7px;
    width: 7px;
    background: white;
    border-radius: 25%;
    position: absolute;
    top: 0;
    left: 450%;
}

.nails_right {
    height: 7px;
    width: 7px;
    background: white;
    border-radius: 25%;
    position: absolute;
    top: 450px;
    left: 64.3%;
}

.nails_right:after {
    content: "";
    height: 7px;
    width: 7px;
    background: white;
    border-radius: 25%;
    position: absolute;
    top: 0;
    left: 250%;
}

.nails_right:before {
    content: "";
    height: 7px;
    width: 7px;
    background: white;
    border-radius: 25%;
    position: absolute;
    top: 0;
    left: 450%;
}

/*DZ 17*/
.select {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.select:after {
    content: "";
    padding: 0 4px;
    background: url('../images/button.png');
    font-size: 12px;
    position: absolute;
    right: 2px;
    top: 2px;
    width: 20px;
    height: 16px;
    pointer-events: none;
    box-sizing: border-box;
}

select {
    padding-right: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/*Вариант2*/
form > * {
    vertical-align: top;
    margin: 0 20px 50px;
}

.select_2 {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.select_2:after {
    content: "☕";
    padding: 0 4px;
    font-size: 12px;
    position: absolute;
    right: 2px;
    top: 4px;
    width: 20px;
    height: 18px;
    pointer-events: none;
    box-sizing: border-box;
}

/*DZ 17-3*/
/*.quantity_3 {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*}*/

/*input[type="number"]::-webkit-inner-spin-button {*/
/*    -webkit-appearance: none;*/
/*    -moz-appearance: textfield;*/
/*    appearance: none;*/
/*    display: block;*/
/*    width: 25px;*/
/*    cursor: pointer;*/
/*}*/

/*.quantity_3 input {*/
/*    width: 55px;*/
/*    height: 55px;*/
/*    line-height: 1.65;*/
/*    display: inline-block;*/
/*    margin: 0;*/
/*    padding: 0 0 0 20px;*/
/*    border: 1px solid #eee;*/
/*    border-radius: 25%;*/
/*}*/

/*.quantity_3:before {*/
/*    content: "";*/
/*    padding: 0 4px;*/
/*    font-size: 12px;*/
/*    position: absolute;*/
/*    left: 70%;*/
/*    top: 13%;*/
/*    width: 22px;*/
/*    height: 22px;*/
/*    background: url(../images/button.png) 0 22px;*/
/*    pointer-events: none;*/
/*    box-sizing: border-box;*/
/*    border-radius: 50%;*/
/*    z-index: 2;*/
/*}*/

/*.quantity_3:after {*/
/*    content: "";*/
/*    padding: 0 4px;*/
/*    font-size: 12px;*/
/*    position: absolute;*/
/*    left: 76%;*/
/*    top: 39%;*/
/*    width: 22px;*/
/*    height: 22px;*/
/*    background: url(../images/button.png) 0 -22px;*/
/*    pointer-events: none;*/
/*    box-sizing: border-box;*/
/*    z-index: 2;*/
/*}*/


/*DZ 17-3*/
.quantity {
    position: relative;
    display: inline-block;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.quantity input {
    width: 55px;
    height: 55px;
    line-height: 1.65;
    display: inline-block;
    margin: 0;
    padding: 0 0 0 20px;
    border: 1px solid #eee;
    border-radius: 25%;
}

.quantity input:focus {
    outline: 0;
}

.up {
    position: absolute;
    text-align: center;
    width: 27px;
    height: 27px;
    overflow: hidden;
    border-radius: 50%;
    left: 64%;
}

.up:before {
    content: "";
    padding: 0 4px;
    font-size: 12px;
    position: absolute;
    left: 0;
    top: 1px;
    width: 22px;
    height: 22px;
    background: url('../images/button.png') 0 22px;
    pointer-events: none;
    box-sizing: border-box;
    border-radius: 50%;
}

.down {
    position: absolute;
    text-align: center;
    width: 27px;
    height: 27px;
    overflow: hidden;
    border-radius: 50%;
    left: 65%;
    top: 49%;
}

.down:after {
    content: "";
    padding: 0 4px;
    font-size: 12px;
    position: absolute;
    left: 4px;
    top: 3px;
    width: 17px;
    height: 22px;
    background: url("../images/button.png") 0 -22px;
    pointer-events: none;
    box-sizing: border-box;
}

/*Вариант 2*/
.quantity_2 {
    position: relative;
    display: inline-block;
}

.quantity_2 input {
    width: 55px;
    height: 55px;
    line-height: 1.65;
    display: inline-block;
    margin: 0;
    padding: 0 0 0 20px;
    border: 1px solid #eee;
    border-radius: 25%;
}

.up_2 {
    position: absolute;
    text-align: center;
    width: 27px;
    height: 27px;
    overflow: hidden;
    border-radius: 50%;
    left: 64%;
    opacity: 0;
}

.up_2:before {
    padding: 0 4px;
    font-size: 12px;
    content: "";
    position: absolute;
    left: 0;
    top: 1px;
    width: 22px;
    height: 22px;
    background: url('../images/button.png') 0 22px;
    pointer-events: none;
    box-sizing: border-box;
    border-radius: 48%;
}

.down_2 {
    position: absolute;
    text-align: center;
    width: 27px;
    height: 27px;
    overflow: hidden;
    border-radius: 50%;
    left: 65%;
    top: 49%;
    opacity: 0;
}

.down_2:after {
    padding: 0 4px;
    font-size: 12px;
    position: absolute;
    content: "";
    left: 4px;
    top: 3px;
    width: 17px;
    height: 22px;
    background: url("../images/button.png") 0 -22px;
    pointer-events: none;
    box-sizing: border-box;
    border-radius: 48%;
}

.up_2:focus, .down_2:focus {
    outline: 2px dashed salmon;

}

.up_2:hover, .down_2:hover {
    opacity: 1;
}

::-webkit-input-placeholder {
    color: #c0392b;
}

::-moz-placeholder {
    color: #c0392b;
}

:-moz-placeholder {
    color: #c0392b;
}

:-ms-input-placeholder {
    color: #c0392b;
}

::-webkit-input-placeholder {
    font-style: italic;
}

::-moz-placeholder {
    font-style: italic;
}

:-moz-placeholder {
    font-style: italic;
}

:-ms-input-placeholder {
    font-style: italic;
}